bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
**/appsettings.Development.json
*.vsix
*.vssscc
*.dbmdl
*.log
*.db
*.bak
*.RedisCache
node_modules/
*.pfx
*.cer
*.key
publish/
/.idea/
*.db
/.vs/
